@import url('https://fonts.cdnfonts.com/css/sf-compact-display');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
  color: #1a1a1a;

  font-family: 'SF Compact Display', sans-serif;

  line-height: 1.25;
  letter-spacing: 0.015em;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

.fp {
  font-family: 'Poppins', sans-serif;
}
